.hero-btn-clip {
  clip-path: polygon(10% 0%, 70% 0%, 100% 100%, 0% 100%);
}
.hero-btn-clip2 {
  clip-path: polygon(20% 0%, 70% 0%, 100% 100%, 0% 100%);
}
.clip-rect-1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%, 0% 50%);
}
.--clip-shape-pageheader-bottom {
  clip-path: polygon(4% 0, 96% 0, 100% 100%, 0% 100%);
}
.--clip-shape-pageheader-intro {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0px 100%);
}
.--clip-shape-faq-btn {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
}
.--clip-shape-card-image-top {
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
}

.--clip-shape-about-banner {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 96% 100%, 0 100%);
}
.--clip-shape-about-banner-2 {
  clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 0 80%, 0 20%);
}
.--clip-shape-about-banner-3 {
  clip-path: polygon(0 0, 96% 0, 100% 40%, 100% 100%, 0 100%);
}

.--event-button {
  clip-path: polygon(0% 0%, 81% 0, 100% 28%, 100% 100%, 0% 100%);
}

.--sponsor-floater {
  clip-path: polygon(
    100% 0,
    100% 85%,
    76% 89%,
    76% 95%,
    52% 100%,
    0 100%,
    0 74%,
    0% 43%,
    0 0
  );
}
