@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aux Mono";
  src: url("../assets/fonts/AuxMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Clash Grotesk Regular";
  src: url("../assets/fonts/ClashGrotesk-Regular.otf");
}
@font-face {
  font-family: "Clash Grotesk Medium";
  src: url("../assets/fonts/ClashGrotesk-Medium.otf");
}
