@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aux Mono";
  src: url("/fonts/AuxMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Clash Grotesk Regular";
  src: url("/fonts/ClashGrotesk-Regular.otf");
}
@font-face {
  font-family: "Clash Grotesk Medium";
  src: url("/fonts/ClashGrotesk-Medium.otf");
}

@font-face {
  font-family: "Clash Grotesk Variable";
  src: url("/fonts/ClashGrotesk-Variable.ttf");
}


.galleryImageTop {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 16% 100%, 0 87%);
}

.galleryImageBottom {
  clip-path: polygon(0 0, 84% 0%, 100% 13%, 100% 100%, 0 100%);
}

.dotted-bg {
  background-image: radial-gradient(#969696 1px, transparent 0);
  background-size: 25px 25px;
  /* background-position: -19px -19px; */
}
